attrs==20.3.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
colorzero==1.1
colour==0.1.5
contextlib2==0.6.0.post1
dependency-injector==4.10.3
event-bus==1.0.2
gpiozero==1.5.1
idna==2.10
iniconfig==1.1.1
packaging==20.8
pigpio==1.78
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytest-mock==3.4.0
PyYAML==5.3.1
requests==2.25.1
schedule==0.6.0
schema==0.7.2
six==1.15.0
toml==0.10.2
urllib3==1.26.2
